<div class="auth-input">
    <div class="auth-input__container">
        <input id="{{id}}" class="auth-input__input" name="{{name}}" type="{{type}}" placeholder=" "/>
        <label for="{{id}}" class="auth-input__placeholder">{{placeholder}}</label>
    </div>
    <label for="{{id}}" class="auth-input__error-message">{{errorMessage}}</label>
</div>
