<div class="message-row {{#if isUserMessage}}message-row_user{{else}}message-row_another-user{{/if}}">
    <div class="message {{#if isUserMessage}}message_user{{else}}message_another-user{{/if}}">
        {{#if text}}
            <p class="message__text">
                {{text}}
                <span class="message__time message__time_text">
                    {{#if isUserMessage}}
                        <span class="message__status-reading {{#if isNotReading}}message__status-reading_unread{{/if}}">
                            <svg width="11" height="5" viewBox="0 0 11 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line y1="-0.5" x2="3.765" y2="-0.5" transform="matrix(0.705933 0.708278 -0.705933 0.708278 0.700195 2.33313)" stroke="#3369F3"/>
                                <line y1="-0.5" x2="5.6475" y2="-0.5" transform="matrix(0.705933 -0.708278 0.705933 0.708278 3.35828 5.00006)" stroke="#3369F3"/>
                                <line y1="-0.5" x2="5.6475" y2="-0.5" transform="matrix(0.705933 -0.708278 0.705933 0.708278 6.01587 5.00006)" stroke="#3369F3"/>
                            </svg>
                        </span>
                    {{/if}}
                    {{time}}
                </span>
            </p>
        {{/if}}
        {{#if image}}
            <img class="message__image" src="{{image}}">
            <p class="message__time message__time_image">
                {{#if isUserMessage}}
                    <span class="message__status-reading {{#if isNotReading}}message__status-reading_unread{{/if}}">
                        <svg width="11" height="5" viewBox="0 0 11 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line y1="-0.5" x2="3.765" y2="-0.5" transform="matrix(0.705933 0.708278 -0.705933 0.708278 0.700195 2.33313)" stroke="#3369F3"/>
                            <line y1="-0.5" x2="5.6475" y2="-0.5" transform="matrix(0.705933 -0.708278 0.705933 0.708278 3.35828 5.00006)" stroke="#3369F3"/>
                            <line y1="-0.5" x2="5.6475" y2="-0.5" transform="matrix(0.705933 -0.708278 0.705933 0.708278 6.01587 5.00006)" stroke="#3369F3"/>
                        </svg>
                    </span>
                {{/if}}
                {{time}}
            </p>
        {{/if}}
    </div>
</div>